h1 {
  color: #323643;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 15px;
  margin-bottom: 0px;
}

ul {
  color: #606470;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Frank Ruhl Libre", serif;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #34495e;
  line-height: 1.4;
  letter-spacing: 0.8px;
}
li::first-letter {
  text-transform: capitalize;
}
body {
  background-color: #e4f1fe;
}

.weather-app {
  display: block;
  padding: 25px;
  padding-bottom: 30px;
  border: solid 1px #d9dad7;
  border-radius: 5px;
  background-color: white;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  display: block;
}
.temp {
  position: relative;
  left: 8px;
  bottom: -3px;
  font-family: "Chivo", sans-serif;
  font-size: x-large;
}
.temp-number {
  font-size: 80px;
  padding: 0px;
}

.fahrenheit {
  color: grey;
  position: relative;
  bottom: 40px;
  left: -10px;
}

.main-icon {
  position: relative;
  bottom: 13px;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  color: #323643;
  opacity: 0.7;
}
.weather-forecast-temp {
  font-size: 13px;
}
.weather-forecast-low {
  opacity: 0.5;
  font-family: "Chivo", sans-serif;
}
.weather-forecast-high {
  font-weight: bold;
  font-family: "Chivo", sans-serif;
}
.form-control {
  padding: 10px;
  margin-top: 10px;
  background-color: #f7f7f7;
}
.btn {
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  border: none;
  height: 50px;
}
